{% extends 'base.html' %}
{% load static %}

{% block title %} contacto {% endblock title %}

{% block css %} {% static 'css/contact.css' %} {% endblock css %}

{% block content %}
{% include 'includes/header.html' %}

<div class="box-contact">
    <!--Alert messages-->
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <!--Form of contact-->
    <form class="form" method="post"> {% csrf_token %}
        <h3>Contact</h3>
        <p>If you have any questions, fill out the following form with the following information.</p>

        <div class="form__input-container">
            {{ form.name }}

            {{ form.last_name }}
        </div>

        {{ form.email }}

        {{ form.affair }}

        {{ form.message }}

        {{ form.captcha }}

        <button class="form__input--submit" type="submit">Send</button>
    </form>
</div>

{% include 'includes/footer.html' %}
{% endblock content %}