.banner-cookie {
	background: #aaf;
	padding: 1.2rem;
	width: calc(100% - 2.5rem);
	max-width: 18.75em;
	line-height: 150%;
	border-radius: 0.625rem;
	position: fixed;
	bottom: 1.25rem;
	left: calc(50% - 9.375rem);
	z-index: 100;
	padding-top: 3.75em;
	box-shadow: 0rem 0.125rem 1.25rem 0.625rem rgba(222,222,222,.25);
	text-align: center;
}

.cookie {
	max-width: 6.25rem;
	position: absolute;
	top: -3.125rem;
	left: calc(50% - 3.125rem);
}

.arrow-hide {
	max-width: 2rem;
	position: absolute;
	top: 0rem;
	left: calc(90% - 1.2rem);
}
.arrow-hide:hover {
	background-color: #0cf;
	cursor: pointer;
}

.titulo, .banner-message {
	margin-bottom: 0.9375rem;
}

.button-accept {
	width: 100%;
	background: #595959;
	border: none;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	text-align: center;
	padding: 0.9375rem 1.25rem;
	font-weight: 700;
	cursor: pointer;
	transition: .3s ease all;
	border-radius: 0.3125rem;
	margin-bottom: 0.9375rem;
	font-size: 0.875rem;
}

.button-accept:hover {
	background: #000;
}

.privacy-policies {
	color: #000;
	text-decoration: none;
	font-size: 0.875rem;
}

.privacy-policies:hover {
	text-decoration: underline;
	color: #fff;
}

.background-cookie {
    display: none;
	background: rgba(0,0,0,.20);
	position: fixed;
	z-index: 99;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
}

.active {
	display: block;
}


/* MEDIA QUERYS */
@media screen and (min-width: 768px) {
    .background-cookies {
        font-size: 18px;
    }
    .banner-cookie {
        left: 1.25rem;
    }
}

@media screen and (min-width: 1440px) {
    html {
        font-size: 22px;
    }
}

@media screen and (min-width: 1920px) {
    html {
        font-size: 22px;
    }
}

@media screen and (min-width: 2560px) {
    html {
        font-size: 30px;
    }
}

@media screen and (min-width: 3840px) {
    html {
        font-size: 45px;
    }
}