/* bootstrap classes */
.container-fluid {
    padding: 0rem 0.55rem;
}
.form-control, .form-select {
    border: 0.07rem solid #000;
}

/* own classes */

/* Box apply discount  */
.apply-points {
    display: flex;
    align-content: center;
}

/* Points Form */
.box-form-points {
    display: flex;
    justify-content: center;
}
#form-points {
    display: none;
    padding: 0.5rem 0rem;
    border: 0.1rem solid #000;
    border-radius: 0.6rem;
    animation: fadeIn 0.4s ease-in-out;
}
#form-points p {
    margin-bottom: 0.7rem;
}
#form-points input {
    width: 100%;
    margin-bottom: 0.7rem;
}
.form-points-buttons {
    display: flex;
    justify-content: end;
    column-gap: 0.7rem;
}
.btn-cancel-points {
    padding: 0.375rem 0.75rem;
    background-color: #fff;
    border: 0.05rem solid #ccc;
    border-radius: 0.4rem;
}
/* points informative message */
.message-points {
    display: inline-block;
    padding: 0.1rem 0.2rem;
    background-color: #f00;
    color: #fff;
    font-size: 0.85rem;
}

/* Section Address */
.box-shipping {
    margin-bottom: 1.3rem;
    box-shadow: 0rem 0rem 0.4rem #000;
}

/* Section Additiona Information */
.box-additional-info {
    margin-bottom: 1.3rem;
    box-shadow: 0rem 0rem 0.4rem #000;
}
.input-additional-info {
    width: 100%;
    height: 7rem;
    resize: none;
}

/* Section Payment */
/* Details Payment */
.details-payment {
    margin-bottom: 1rem;
    padding: 0.5rem;
    background-color: #0eeeff;
    border-radius: 1rem;
}
.details-payment strong {
    width: 70%;
    padding: 0.5rem 0.7rem;
    background-color: #eee;
    font-weight: 600;
}
.details-payment span {
    color: #0b0;
}
.products {
    border-bottom: 0.1rem solid #bbb;
}
.product-name {
    width: 70%;
    padding: 0.15rem 0.7rem;
    background-color: #fff;
    color: #00f;
}
.box-discount {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#remove-discount {
    color: #f00;
    cursor: pointer;
}
#remove-discount:hover {
    color: #00f;
    text-decoration: underline;
}
#remove-discount:active {
    color: #00c;
}

/* loading to checkout */
.loader-discount {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: #0009;
    z-index: 10;
}
.loader-discount img {
    display: block;
    width: 33%;
}

/* Form Payment */
.div-payment {
    margin: 0.7rem 0rem 1rem 0rem;
    padding: 0.5rem 1.5rem;
    background-color: #fff;
    box-shadow: 0rem 0rem 0.4rem #044;
}
.label-radio-payment {
    display: block;
    width: 100%;
    padding: 0.9rem 0rem;
    background-color: #eee;
    color: #05f;
    font-weight: 600;
}
.label-radio-payment input[type="radio"] {
    display: inline;
    width: 1rem;
    height: 1rem;
    margin: 0rem 0.7rem;
    background-color: #00f;
}
.input-radio-checked {
    background-color: #ddd;
}
.input-checkbox{
    display: block;
    margin: 1rem 0rem 0rem 0rem;
    text-align: center;
}
.input-checkbox input[type="checkbox"] {
    width: 1rem;
    height: 1rem;
    margin: 0rem 0.5rem 0rem 0rem;
}
.button-payment {
    display: block;
    width: fit-content;
    margin: 0.9rem auto 0.6rem auto;
    padding: 0.4rem 1.5rem;
    background-color: #08f;
    border: 0.125rem solid #00f;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
    color: #fff;
    border-radius: 0.5rem;
}
.button-payment:hover {
    cursor: pointer;
    background-color: #04f;
}
.button-payment:active {
    background-color: #0007;
    text-decoration: underline;
}

/* Animations */
@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(1.25rem);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
}
  

@media screen and (min-width: 768px) {
    /* Own classes */
    /* Points Form */
}

@media screen and (min-width: 1024px) {
    /* Own classes */
    /* Section Paymente */
    .payment-method {
        position: absolute;
        top: 6.83rem;
        right: 2.5rem;
    }
}