/*Footer de la pagina*/

.footer {
    display: flex;
    padding-top: 0.625rem;
    flex-direction: column;
    background-color: #00f;
    align-items: center;
    gap: 0.625rem;
}
.footer__link {
    width: 70%;
    padding: 0.625rem;
    color: #f50;
    background-color: #fff;
    text-align: center;
    text-decoration: none;
    border-radius: 1rem;
    font-weight: 600;
}
.footer__link:hover {
    text-decoration: underline;
    opacity: 0.8;
}
.footer h5 {
    color: #fff;
    font-size: 0.85rem;
    margin: 0rem;
}
.footer__container {
    width: 100%;
    padding: 0.625rem 0rem;
    border-top: 0.062rem solid #999;
    background-color: #00f;
    text-align: center;
}
.linkedin {
    width: 100%;
    text-align: center;
    font-family: Cambria;
}
.linkedin img {
    width: 1.562rem;
}
.linkedin a {
    color: #fff;
    text-decoration: none;
}


@media screen and (min-width: 768px) {
    /*Footer de la pagina*/
    .footer {
        flex-direction: row-reverse;
        padding: 0rem 0.7rem;
    }
    .footer__container {
        width: 100%;
        background-color: #00f;
        border-top: none;
    }
}
@media screen and (min-width: 1024px) {
    /*Footer de la pagina*/
    .footer__link {
        width: 40%;
    }   
    .footer__link:hover {
        text-decoration: none;
        opacity: 0.8;
    }
    .footer__link:active {
        text-decoration: underline 0.125rem;
    }    
}
