/* Menu header */
.navbar-logo {
    width: 12%;
}
.cart-shopping {
    display: block;
    width: 1.5rem;
}

/* alert messages */
.messages {
    width: fit-content;
    text-align: center;
    margin: auto;
    padding: 0rem;
    list-style: none;
}
.success, .info, .error, .warning {
    margin: 0.5rem 0rem;
    padding: 0.625rem 1.25rem;
    background-color: #0f0;
    color: #070;
    font-size: 1rem;
    font-weight: 600;
    border: 0.125rem solid #070;
    border-radius: 0.8rem;
}
.info {
    background-color: #ccf;
    color: #00f;
    border: 0.125rem solid #00f;
}
.error {
    background-color: #f00;
    color: #fff;
    border: 0.125rem solid #700;
}
.warning {
    background-color: #ff0;
    color: #f00;
    border: 0.125rem solid #f00;
}

/*MEDIA QUERY*/

@media screen and (max-width: 425px) {
    .navbar-logo {
        width: 40%;
    }
}

@media screen and (max-width: 768px) {
    .navbar-logo {
        width: 30%;
    }
}


