/* carousel */
.box-carousel {
    margin: 1.2em 0em;
}

.carousel-item img {
    height: 20em;
    filter: contrast(75%);
}
.carousel-item h5 {
    color: #ff0;
    font-size: 0.9em;
}
.carousel-item p {
    color: #ff0;
    font-size: 0.7em;
}
.carousel-item a {
    border: 0.125em solid #ff0;
    padding: 0.2em 0.35em;
    border-radius: 0.4em;
    color: #ff0;
    font-weight: 600;
    text-decoration: none;
}

/* cards */
.box-cards {
    margin: 1.2em 0em;
}
.card {
    width: 90%;
    margin: 0.5em auto;
    padding: 0.4em 0em;
    background-color: #00f;
    border: 0.2em solid #ff0;
}
.card img {
    width: 50%;
    margin: 0em auto;
}
.card-body {
    margin: 0em;
    background-color: #66f;
    text-align: center;
}
.card-body h5 {
    color: #fff;
}
.card-body p {
    color: #fff;
}

/*MEDIA QUERY*/

@media screen and (min-width: 425px){
    .carousel-item img {
        height: 26em;
    }
}
@media screen and (min-width: 768px){
    .carousel-item h5 {
        margin-bottom: 0.7em;
        font-size: 1.2em;
    }
    .carousel-item p {
        font-size: 1em;
    }
    .carousel-item a {
        padding: 0.4em 0.7em;
    }

    .box-cards {
        display: flex;
        gap: 0.7em;
    }
    .card img {
        height: 15em;
    }
}
@media screen and (min-width: 1024px){
    .carousel-item img {
        height: 30em;
    }
    .carousel-item h5 {
        margin-bottom: 1em;
        font-size: 2em;
    }
    .carousel-item p {
        font-size: 1.5em;
    }
    .carousel-item a {
        padding: 0.4em 0.7em;
        font-size: 1.3em;
    }

    .box-cards {
        display: flex;
        gap: 1.2em;
    }
}
@media screen and (min-width: 1440px){
    body {
        font-size: 18px;
    }
}
@media screen and (min-width: 1920px){
    body {
        font-size: 22px;
    }
}
@media screen and (min-width: 2560px){
    body {
        font-size: 30px;
    }
}
@media screen and (min-width: 3840px){
    body {
        font-size: 45px;
    }
}