/* Here are all the styles of the user menu pages */

/* bootstrap classes */
.container-fluid {
    padding: 0;
}
.form-control, .btn {
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border: 0.05rem solid #000;
}
.form-select {
    border: 0.05rem solid #000;
}
.form-label {
    margin-bottom: 0.5rem;
    font-weight: 600;
}

/* django classes */
.errorlist{
    padding: 0rem 1.3rem;
    background-color: #f00;
    color: #fff;
}


/* From here on they are their own classes */
.box-account-section {
    min-height: 65vh;
}
/* User address and profile forms */
.form-profile {
    margin: 0rem;
    padding-bottom: 1rem;
}
.form-profile div {
    margin-top: 1rem;
    padding: 0rem 0.5rem;
}

@media screen and (min-width: 992px) {
    .box-account-section {
        min-height: 72vh;
        padding: 0rem 1rem;
    }
    /* User address and profile forms */
    .form-profile {
        padding: 0.5rem 1.2rem;
        border: 0.125rem solid #0008;
        border-radius: 1rem;
    }
}