/* Here are all the styles of the store pages */

/* bootstrap classes */
.card-subtitle {
    font-size: 1.13rem;
}
.page-link {
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
}

@media screen and (min-width: 1024px) {
    /* bootstrap classes */
    .card-title {
        font-size: 1.25rem;
    }
    .card-subtitle {
        font-size: 1.5rem;
    }

    /* own classes */
    .own-card-img {
        width: 12.5rem;
        height: 12.5rem;
    }
}