.terms {
    margin: 1.875rem 0.625rem 1.875rem 0.625rem;
    padding: 0.3125rem;
    background-color: #fff;
    box-shadow: 0rem 0rem 0.625rem #000;
    font-family: sans-serif, Arial, Helvetica;
}
.terms h3, .terms h2, .terms p {
    margin-bottom: 0.625rem;
    color: #f70;
}
.terms p {
    padding-bottom: 0.3125rem;
    text-shadow: none;
    color: #000;
    word-spacing: 1.3pt;
}


@media screen and (min-width: 768px) {
    .terms {
        margin: 1.25rem;
        padding: 0.625rem;
    }    
}
@media screen and (min-width: 1024px) {
    .terms {
        margin: 2.5rem 5rem;
        padding: 1.25rem;
    }
}

