.container-thanks {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 75vh;
}
.box-thanks {
    margin: 2rem;
    padding: 0.8rem 0.5rem;
    background-color: #55f;
    color: #fff;
    text-align: center;
    border-radius: 0.4rem;
}
.box-thanks p {
    padding: 0.4rem 0rem;
    font-size: 1.1rem;
    font-weight: 600;
}
.box-thanks a {
    padding: 0.5rem 1rem;
    background-color: #3f3;
    color: #000;
    border-radius: 0.4rem;
    text-decoration: none;
    font-weight: 600;
}


@media screen and (min-width: 768px){
    .box-thanks {
        width: 80%;
    }
    .box-thanks p {
        padding: 1rem 0rem;
    }
    .box-thanks a {
        font-size: 1.1rem;
    }
}
@media screen and (min-width: 1024px){
    .box-thanks {
        width: 60%;
    }
    .box-thanks img {
        width: 80%;
    }
}