{% load static %}

<!--Pie de pagina-->

<div class="box-footer">
    <footer class="footer">
        <a class="footer__link" href="{% url 'home_app:privacy_policy' %}">Politica de privacidiad</a>
        <a class="footer__link" href="{% url 'home_app:terms' %}">Terminos y Condiciones</a>
        <div class="footer__container">
            <h5>2023 KatyShop303</h5>
            <h5>Created by Ronny Blandon</h5>
            <div class="linkedin">
                <img src="{% static 'img/Linkedin.svg' %}" alt="Linkedin">
                <a href="https://www.linkedin.com/in/ronnyblandon/">Linkedin</a>
            </div>
        </div>
    </footer>
</div>