{% load static %}

<!--Main-menu-->

<nav class="menu navbar navbar-expand-lg bg-body-tertiary">
	<div class="container-fluid">
		<a class="navbar-logo me-4" href="{% url 'home_app:home' %}"><img src="{% static 'img/logo.png' %}"
				alt="Logo"></a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="nav nav-pills me-auto mb-2 mb-lg-0">
				<li class="nav-item m-1">
					<a class="menu-page1 nav-link" id="start" aria-current="page"
						href="{% url 'home_app:home' %}">Inicio</a>
				</li>
				<li class="nav-item m-1">
					<a class="menu-page2 nav-link" id="store" href="{% url 'product_app:store' %}">Tienda</a>
				</li>
				<li class="nav-item m-1">
					<a class="menu-page3 nav-link" id="contact" href="{% url 'home_app:contact' %}">Contacto</a>
				</li>

				{% if not user.is_anonymous %}
				<li class="nav-item m-1">
					<a class="nav-link" id="my-account" href="{% url 'user_app:user_orders' %}">Mi cuenta</a>
				</li>
				{% else %}
				<li class="nav-item m-1">
					<a class="nav-link" id="my-account" href="{% url 'user_app:user_login' %}">Mi cuenta</a>
				</li>
				{% endif %}

				<li class="nav-item m-1">
					<a class="nav-link" id="points-rules" href="{% url 'home_app:points_rules' %}">Reglas de puntos</a>
				</li>
				<li class="nav-item m-1">
					<a class="cart nav-link position-relative" href="{% url 'cart_app:cart' %}">
						<img class="cart-shopping" src="{% static 'img/cart_shopping.svg' %}" alt="cart">
						<span class="quantity-items position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
							{% if quantity_items > 0 %}
							{{ quantity_items }}
							{% else %}
							0
							{% endif %}
						</span>
					</a>
				</li>
			</ul>
			<form class="d-flex" method="get" action="{% url 'product_app:store' %}" role="search"> {% csrf_token %}
				<input class="input-search form-control me-2" id="kword" name="kword" type="search" placeholder="Buscar producto" aria-label="Search">
				<button class="btn-search btn btn-outline-success" type="submit">Buscar</button>
			</form>
		</div>
	</div>
</nav>

<!--List Cart-->
<div class="container-mini-cart">
	<div class="box-cart">
		<div class="d-flex justify-content-center">
			<h2>Carrito</h2>
			<img class="mini-cart-close position-absolute" src="{% static 'img/x-close2.svg' %}" alt="close cart">
		</div>
		<ul>
			{% if request.user.is_authenticated %}
			{% for item in cart_items %}
			<li class="box-cart__li d-flex border-bottom my-1 justify-content-center align-items-center">
				<a class="link-item" href="{% url 'product_app:product' item.product.slug %}"><img class="img-product-mini-cart"
					src="{{ item.product.product_image.all.first.image.url }}" alt="product"></a>
				<div class="box-cart__div">
					<a class="link-item d-block" href="{% url 'product_app:product' item.product.slug %}">{{ item.product.name }}</a>
					<span class="text-success">{{ item.amount }} x ${{ item.product.price }}</span>
				</div>
				<img class="product-remove" src="{% static 'img/x-circle.svg' %}" data-product-id="{% url 'cart_app:delete_mini_cart' item.product.id %}" alt="product_remove">
			</li>
			{% endfor %}
			{% else %}
			{% for item in cart_items %}
			<li class="box-cart__li d-flex border-bottom my-1 justify-content-center align-items-center">
				<a class="link-item" href="{% url 'product_app:product' item.slug %}"><img class="img-product-mini-cart"
					src="{{ item.product_image.all.first.image.url }}" alt="product"></a>
				<div class="box-cart__div">
					<a class="link-item d-block" href="{% url 'product_app:product' item.slug %}">{{ item.name }}</a>
					<span class="text-success">{{ item.amount }} x ${{ item.price }}</span>
				</div>
				<img class="product-remove" src="{% static 'img/x-circle.svg' %}" data-product-id="{% url 'cart_app:delete_mini_cart' item.id %}" alt="product_remove">
			</li>
			{% endfor %}
			{% endif %}
		</ul>
		<p class="subtotal-preview-cart p-3 d-flex justify-content-between align-items-center bg-body-secondary m-0 border-top border-bottom">
			<strong>SUBTOTAL:</strong>
			<strong class="cart-preview-subtotal text-success">$ {{ cart_subtotal }}</strong>
		</p>
		<div class="btn-cart-or-checkout py-3 d-flex justify-content-around">
			<a class="view-cart" href="{% url 'cart_app:cart' %}"><strong>VER CARRO</strong></a>
			<a class="checkout-mini-cart" href="{% url 'order_app:checkout' %}"><strong>PAGAR</strong></a>
		</div>
	</div>
</div>


<script src="{% static 'js/bootstrap_js/bootstrap.js' %}"></script>
<script src="{% static 'js/header.js' %}"></script>