{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %} {{product.name}} {% endblock title %}

{% block css %} {% static 'css/product.css' %} {% endblock css %}

{% block content %}
{% include 'includes/header.html' %}

<!-- Success or error messages -->
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<div class="box-product container-fluid d-md-flex flex-column align-items-center justify-content-center">
	<div class="product p-md-2 d-md-flex justify-content-center">
		<!--Section Product Image Carousel -->
		<div class="box-carousel col-lg-5">
			<div class="carousel mx-auto col-md-11 col-lg-12">
			{% if product.product_image.all %}
				<div class="img-zoom">
					<img class="img-main" src="{{ product.product_image.all.first.image.url }}" alt="image product">
				</div>
				<img class="btn-prev" src="{% static 'img/arrow-left-solid.svg' %}" alt="button previous">
				<img class="btn-next" src="{% static 'img/arrow-right-solid.svg' %}" alt="button next">
			{% else %}
				<img class="img-main" src="{% static 'img/empty-product.svg' %}" alt="image product">
			{% endif %}
			</div>
			<div class="list-img-product">
				{% for img in product.product_image.all %}
				<img class="img-secondary" src="{{ img.image.url }}" alt="image product">
				{% endfor %}
			</div>
			<div class="indicator-carousel" id="points">
				{% for item in product.product_image.all %}
				{% if forloop.first %}
				<p class="bold">.</p>
				{% else %}
				<p>.</p>
				{% endif %}
				{% endfor %}
			</div>
			<div class="modal" id="modal">
				<span class="close">&times;</span>
				<img class="modal-content" id="img01">
				<div class="thumbnails">
					{% for img in product.product_image.all %}
					<img class="thumbnail" src="{{ img.image.url }}" alt="image product">
					{% endfor %}
				</div>
			</div>
		</div>
		<!-- Product Body -->
		<form class="col-md-6 p-md-1 ps-lg-3" method="post" action="{% url 'cart_app:add_cart_product' product.id %}"> {% csrf_token %}
			<h1 class="title-product">{{ product.name }}</h1>
			<h3 class="base-price"><strong>${{ product.price }}</strong></h3>
			<p class="info-points">{% trans 'Every time you buy this item, you will receive' %} <strong>{{ product_points }}</strong> {% trans 'reward points!' %}</p>
			<div class="product-quantity">
				<strong class="decrease-product">-</strong>
				<input name="quantity-product" type="number" class="amount-product" value="1" min="1" max="{{product.amount_stock}}" readonly>
				<strong class="increase-product">+</strong>
			</div>
			{% if product.stock == True and product.amount_stock > 0 %}
			<p class="stock-store">{% blocktrans with amount_stock=product.amount_stock %}{{ amount_stock }} left in stock{% endblocktrans %}</p>
			<button type="submit" class="btn-add-cart mt-4 mb-2 btn btn-primary">{% trans 'Add to cart' %}</button>
			{% elif product.stock == True %}
			<p class="stock-store">{% trans 'In stock' %}</p>
			<button type="submit" class="btn-add-cart mt-4 mb-2 btn btn-primary">{% trans 'Add to cart' %}</button>
			{% else %}
			<p class="out-of-stock">{% trans 'Out of stock' %}</p>
			<a href="#" class="btn-add-cart mt-4 mb-2 btn btn-secondary disabled">{% trans 'Out of stock' %}</a>
			{% endif %}
			<h6>{% trans 'Category:' %}
				{% for category in product.category.all %}
				<strong>{{ category.name }},</strong>
				{% endfor %}
			</h6>
		</form>
	</div>
	<!--Description-->
	<div class="description col-md-11 py-4 p-md-0 px-lg-3 my-auto">
		<h4 class="title-description text-center">{% trans 'Description' %}</h4>
		{{ product.description|safe }}
	</div>
</div>

<script src="{% static 'js/product.js' %}"></script>

{% include 'includes/footer.html' %}
{% endblock content %}