{% extends 'base.html' %}
{% load static %}

{% block title %} user-dashboard {% endblock title %}

{% block css %} {% static 'css/user-menu.css' %} {% endblock css %}
{% block css2 %} {% static 'css/my-account.css' %} {% endblock css2 %}

{% block content %}
{% include 'includes/header.html' %}

<div class="box-account container-fluid d-lg-flex">
	{% include 'includes/user-menu.html' %}

	<div class="box-account-section col-lg-8 col-lg-9">
		<h4 class="my-points">Hi Ronny, you have {{ user_points }} points</h4>
		<div class="my-3 mx-md-3 mx-lg-auto">
			<div class="box-order-tables overflow-x-auto mx-auto">
				<table class="order-table table table-striped table-info text-center">
					<thead class="bg-black">
						<tr>
							<th>Event</th>
							<th>ID Order</th>
							<th>Date</th>
							<th>Points</th>
						</tr>
					</thead>
					{% for register in pointshistory_list %}
					<tr>
						<td>{{ register.event }}</td>
						{% if register.id_order %}
						<td>#{{ register.id_order.id  }}</td>
						{% else %}
						<td><strong>-------</strong></td>
						{% endif %}
						<td>{{ register.date|date:"d M, Y" }}</td>
						{% if register.points > 0 %}
						<td>+{{ register.points }}</td>
						{% else %}
						<td>{{ register.points }}</td>
						{% endif %}
					</tr>
					{% endfor %}
				</table>
			</div>
			<!--Pagination of orders-->
            <div class="d-flex justify-content-center mt-4 mb-3">
                <span class="step-links">
                    {% if page_obj.has_previous and page_obj.number > 0 %}
                    <a class="link-page" href="?kword={{ request.GET.kword }}&page=1">1</a>
                    <a class="link-page" href="?kword={{ request.GET.kword }}&page={{ page_obj.previous_page_number }}">&laquo;</a>
                    {% endif %}
                    {% if page_obj.number > 0 %}
                    <span class="current-pages">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                    </span>
                    {% else %}
                    <span class="current-pages">
                        Page 1 of 1
                    </span>
                    {% endif %}

                    {% if page_obj.has_next and page_obj.number > 0 %}
                    <a class="link-page" href="?kword={{ request.GET.kword }}&page={{ page_obj.next_page_number }}">&raquo;</a>
                    <a class="link-page"href="?kword={{ request.GET.kword }}&page={{ page_obj.paginator.num_pages }}">{{page_obj.paginator.num_pages }}</a>
                    {% endif %}
                </span>
            </div>
		</div>

	</div>
</div>

<script src="{% static 'js/my-account.js' %}"></script>
{% include 'includes/footer.html' %}
{% endblock content %}