{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %} checkout {% endblock title %}

{% block css %} {% static 'css/cart.css' %} {% endblock css %}
{% block css2 %} {% static 'css/checkout.css' %} {% endblock css2 %}

{% block content %}
{% include 'includes/header.html' %}

<!-- POINTS FORM -->
<div class="box-form-points mx-2 mx-md-auto mx-lg-2 col-md-8 col-lg-7">
    <form id="form-points" class="px-3 col-12 col-md-10 col-lg-7">
        <p>{% trans 'How many points would you like to apply?' %}</p>
        <input id="redemption-points" type="number" data-user_points="{{ user_points }}" data-point_redemption_rate="{{ point_redemption_rate }}">
        <div class="form-points-buttons">
            <button type="button" class="btn-make-discount btn btn-primary">{% trans 'Accept' %}</button>
            <button type="button" class="btn-cancel-points">{% trans 'Cancel' %}</button>
        </div>
    </form>
</div>
<div class="loader-discount">
    <img src="{% static 'img/load-cart.gif' %}" alt="load-cart">
</div>

<form class="container-checkout container-fluid mt-2 col-md-10 col-lg-12" method="post"> {% csrf_token %}
    <!-- Section information earn points-->
    <div class="info-earn-points col-lg-7">
        <p><img src="{% static 'img/circle-info-solid.svg' %}" alt="Exclamation_mark">{% blocktrans %}COMPLETE YOUR ORDER AND EARN
            <strong class="order-points" data-earning_points_rate="{{ earning_points_rate }}">{{ order_points }}</strong>
            POINTS FOR A DISCOUNT ON A FUTURE PURCHASE.{% endblocktrans %}
        </p>
    </div>
    <!-- Section points discount-->
    <div class="info-earn-points apply-points col-lg-7">
        <p><img src="{% static 'img/circle-info-solid.svg' %}" alt="Exclamation_mark">
            {% blocktrans %}YOU HAVE <strong id="user-points">{{ user_points }}</strong> POINTS FOR A <strong class="text-success">${{ max_discount }}</strong> 
            DISCOUNT ON THIS ORDER!{% endblocktrans %}</p>
        <button type="button" class="btn btn-primary ms-1" id="btn-apply-points">{% trans 'Apply' %}</button>
    </div>
    <!-- Section shipping address -->

    <div class="box-shipping p-2 col-lg-7">
        <h4 class="text-center">{% trans 'Shipping Address' %}</h4>
        <div class="shipping p-md-2 d-flex flex-wrap gap-3">
            <div class="col-12 col-lg-5">
                <label class="form-label">{% trans 'Name' %}:</label>
                {{ form.name }}
            </div>
            <div class="col-12 col-lg-5">
                <label class="form-label">{% trans 'Last name' %}:</label>
                {{ form.last_name }}
            </div>
            <div class="col-12 col-lg-5">
                {{form.country.erros}}
                <label class="form-label">{% trans 'Country' %}:</label>
                {{ form.country }}
            </div>
            <div class="div-select-state col-12 col-lg-5">
                {{form.state.errors}}
                <label class="form-label">{% trans 'State' %}:</label>
                {{ form.state }}
            </div>
            <div class="col-12 col-lg-5">
                <label id="label-city" class="form-label">{% trans 'City' %}:</label>
                {{form.city}}
            </div>
            <div class="col-12 col-lg-8">
                <label class="form-label">{% trans 'Address' %}:</label>
                {{form.address_1}}
                {{form.address_2}}
            </div>
            <div class="col-12 col-lg-5">
                {{form.postal_code.errors}}
                <label class="form-label">{% trans 'Postal Code' %}:</label>
                {{form.postal_code}}
            </div>
        </div>
    </div>
    <!--Section Additional Information-->
    <div class="box-additional-info p-2 col-lg-7">
        <h4 class="text-center">{% trans 'Additional Information' %}</h4>
        <label class="form-label">{% trans 'Order notes: (optional)' %}</label>
        {{ form.additional_info }}
    </div>
    <!--Section Payment-->
    <div class="payment-method col-lg-4">
        <div class="details-payment me-0">
            {% for item in cart_items %}
            <div class="products d-flex align-items-center justify-content-between">
                <p class="product-name m-0">{{ item.product.name }} x {{ item.amount }}</p>
                <span>${{ item.subtotal }}</span>
            </div>
            {% endfor %}
            <p class="d-flex align-items-center justify-content-between m-0">
                <strong>Subtotal(productos {{ quantity_items }})</strong><span>${{ cart_subtotal }}</span>
            </p>
            <p class="box-discount m-0">
                <strong>{% trans 'Discount' %} <span id="remove-discount">{% trans '[Remove]' %}</span></strong>
                <span class="discount fw-bold">${{ cart_discount }}</span>
            </p>
            <p class="d-flex align-items-center justify-content-between m-0"><strong>Total</strong><span
                class="total fw-bold">${{ cart_total }}</span>
            </p>
        </div>

        <div class="div-payment">
            <h3 class="text-center">{% trans 'Payment methods' %}</h3>
            <label class="label-radio-payment">
                {{ form.payment_method }}
            </label>
            <label class="input-checkbox">
                <h6>
                    <input type="checkbox" name="terms-and-conditions" value="True" required>
                    {% trans 'I have read and agree to the' %} <a href="{% url 'home_app:terms' %}">{% trans 'terms and conditions' %}</a>
                    {% trans 'of Katyshop303.' %}
                </h6>
            </label>
            <button class="button-payment" type="submit">{% trans 'Pay now' %}</button>
        </div>
    </div>
</form>

<script type="module" src="{% static 'js/checkout.js' %}"></script>

{% include 'includes/footer.html' %}
{% endblock content %}