{% extends 'base.html' %}
{% load static %}

{% block title %} Change-password {% endblock title %}

{% block css %} {% static 'css/register.css' %} {% endblock css %}

{% block content %}
{% include 'includes/header.html' %}

<!--Formulario de registro-->
    
<div class="container-form">
    <form class="form-register" method="post"> {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="form__container">
            <p>Ingrese su nueva contraseña.</p>
        </div>
        
        {{form.password2.errors}}
        <label class="form-register__label"><img src="{% static 'img/icono-contraseña.svg' %}" alt="icono-contraseña">
            {{form.password1}}</label>

        <label class="form-register__label"><img src="{% static 'img/icono-contraseña.svg' %}" alt="icono-contraseña">
            {{form.password2}}</label>

        <input class="form-register__input-submit" type="submit" value="Cambiar Contraseña">
    </form>
</div class="container-form">

{% include 'includes/footer.html' %}
{% endblock content %}