{% extends 'base.html' %}
{% load static %}

{% block title %} recover-password {% endblock title %}

{% block css %} {% static 'css/register.css' %} {% endblock css %}

{% block content %}
{% include 'includes/header.html' %}

<!--Form to recover account-->
    
<div class="container-form">
    <form class="form-register" method="post"> {% csrf_token %}
        <div class="form__container">
            <p>Enter your email with which you registered your account to receive a link where you can change your password.</p>
        </div>
        {{ form.non_field_errors }}
        <label class="form-register__label"><img src="{% static 'img/icono-correo.svg' %}" alt="icon-email">
            {{form.email}}</label>


        <input class="form-register__input-submit" type="submit" value="Recover account">
    </form>
</div class="container-form">

{% include 'includes/footer.html' %}
{% endblock content %}