{% extends 'base.html' %}
{% load static %}

{% block title %} recover-password {% endblock title %}

{% block css %} {% static 'css/register.css' %} {% endblock css %}

{% block content %}
{% include 'includes/header.html' %}

<!--Formulario para recuperar cuenta-->
    
<div class="container-form">
    <form class="form-register" method="post"> {% csrf_token %}
        <div class="form__container">
            <p>Ingrese su correo electrónico con el que registro su cuenta para recibir un enlace donde podrá cambiar la contraseña.</p>
        </div>
        {{ form.non_field_errors }}
        <label class="form-register__label"><img src="{% static 'img/icono-contraseña.svg' %}" alt="icon-password">
            {{form.email}}</label>


        <input class="form-register__input-submit" type="submit" value="Recuperar Cuenta">
    </form>
</div class="container-form">

{% include 'includes/footer.html' %}
{% endblock content %}