{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %} Login {% endblock title %}

{% block css %} {% static 'css/register.css' %} {% endblock css %}

{% block content %}
{% include 'includes/header.html' %}

<!-- Success or error messages -->

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message.message }}</li>  
    {% endfor %}
</ul>
{% endif %}

<!--Registration Form-->
    
<div class="container-form">
    <form class="form-register" method="post"> {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="form__container">
            <h2>{% trans 'Login.' %}</h2>
            <p>{% trans 'Fill in the details to login.' %}</p>
        </div>
    
        <label class="form-register__label"><img src="{% static 'img/icono-user.svg' %}" alt="icon-user">
        {{form.email}}</label>

        <label class="form-register__label"><img src="{% static 'img/icono-contraseña.svg' %}" alt="icon-password">
        {{form.password}}</label>
    
        <input class="form-register__input-submit" type="submit">
    
        <div class="form__container-2">
            <p>{% trans 'You do not have an account?' %} <a href="{% url 'user_app:user_register' %}">{% trans 'Sign in' %}</a></p>
        </div>

        <div class="form__container-2">
            <p><a href="{% url 'user_app:recover_password' %}">{% trans 'Did you forget your password?' %}</a></p>
        </div>
    </form>
</div class="container-form">

{% include 'includes/footer.html' %}
{% endblock content %}
