{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %} register {% endblock title %}

{% block css %} {% static 'css/register.css' %} {% endblock css %}

{% block content %}
{% include 'includes/header.html' %}

<div class="container-form">
    <form class="form-register" method="post"> {% csrf_token %}
        <div class="form__container">
            <h2>{% trans 'Sign in' %}</h2>
            <p>{% trans 'Please complete the form to create an account.' %}</p>
        </div>
        {{form.error}}
        <label class="form-register__label">
            <img src="{% static 'img/icono-user.svg' %}" alt="icon-user">
            {{form.name}}
        </label>

        <label class="form-register__label">
            <img src=" {% static 'img/icono-user.svg' %}" alt="icon-user">
            {{form.last_name}}
        </label>

            {{form.email.errors}}
        <label class="form-register__label">
            <img src="{% static 'img/icono-correo.svg' %}" alt="icon-email">
            {{form.email}}
        </label>
        
            {{form.repeat_password.errors}}
        <label class="form-register__label">
            <img src="{% static 'img/icono-contraseña.svg' %}" alt="icon-password">
            {{form.password}}
        </label>

        <label class="form-register__label">
            <img src="{% static 'img/icono-contraseña.svg' %}" alt="icon-password">
            {{form.repeat_password}}
        </label>
        <!--{{form.captcha}}-->

        <input class="form-register__input-submit" type="submit" value="{% trans 'Create Account' %}">

        <div class="form__container-2">
            <p>{% trans 'Do you already have an account?' %} <a href="{% url 'user_app:user_login' %}">{% trans 'Log in' %}</a></p>
        </div>
    </form>
</div>

{% include 'includes/footer.html' %}
{% endblock content %}