{% extends 'base.html' %}
{% load static %}

{% block title %} register {% endblock title %}

{% block css %} {% static 'css/register.css' %} {% endblock css %}

{% block content %}
{% include 'includes/header.html' %}

<div class="container-form">
    <form class="form-register" method="post"> {% csrf_token %}
        <div class="form__container">
            <h2>Registrate</h2>
            <p>Por favor complete el formulario para crear una cuenta.</p>
        </div>
        {{form.error}}
        <label class="form-register__label">
            <img src="{% static 'img/icono-user.svg' %}" alt="icono-user">
            {{form.name}}
        </label>

        <label class="form-register__label">
            <img src=" {% static 'img/icono-user.svg' %}" alt="icono-user">
            {{form.last_name}}
        </label>

            {{form.email.errors}}
        <label class="form-register__label">
            <img src="{% static 'img/icono-correo.svg' %}" alt="icono-correo">
            {{form.email}}
        </label>
        
            {{form.password2.errors}}
        <label class="form-register__label">
            <img src="{% static 'img/icono-contraseña.svg' %}" alt="icono-contraseñá">
            {{form.password1}}
        </label>

        <label class="form-register__label">
            <img src="{% static 'img/icono-contraseña.svg' %}" alt="icono-contraseña">
            {{form.password2}}
        </label>
        <!--{{form.captcha}}-->

        <input class="form-register__input-submit" type="submit" value="Registrar">

        <div class="form__container-2">
            <p>¿Ya tienes una cuenta? <a href="{% url 'user_app:user_login' %}">Inicia Sesión</a></p>
        </div>
    </form>
</div>

{% include 'includes/footer.html' %}
{% endblock content %}