{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %} user-dashboard {% endblock title %}

{% block css %} {% static 'css/user-menu.css' %} {% endblock css %}
{% block css2 %} {% static 'css/my-account.css' %} {% endblock css2 %}

{% block content %}
{% include 'includes/header.html' %}

<div class="box-account container-fluid d-lg-flex">
    {% include 'includes/user-menu.html' %}
    
    <div class="box-account-section col-lg-8 col-lg-9">
        <!-- Success or error messages -->

        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message.message }}</li>  
            {% endfor %}
        </ul>
        {% endif %}
        <form method="post" class="form-profile row g-3 needs-validation"> {% csrf_token %}
            <div class="col-md-8 col-lg-5">
                <label for="validationCustom01" class="form-label">{% trans 'Name' %}</label>
                {{form.name}}
            </div>
            <div class="col-md-8 col-lg-5">
                <label for="validationCustom02" class="form-label">{% trans 'Last name' %}</label>
                {{form.last_name}}
            </div>
            <div class="col-md-8 col-lg-5">
                <label for="validationCustom03" class="form-label">{% trans 'Email' %}</label>
                <input type="email" class="form-control" id="validationCustom03" value="{{user.email}}" disabled>
            </div>
            <div class="col-md-8 col-lg-5">
                {{form.phone_number.errors}}
                <label for="validationCustom05" class="form-label">{% trans 'Telephone number (optional)' %}</label>
                {{form.phone_number}}
            </div>
            <!--Change password-->
            <h3 class="mt-4 mb-2">{% trans 'Change Password' %}</h3>
            <div class="col-md-8 col-lg-7">
                {{form.current_password.errors}}
                <label for="validationCustom05" class="form-label">{% trans 'Current password' %}</label>
                {{form.current_password}}
            </div>
            {{form.repeat_password.errors}}
            <div class="col-md-8 col-lg-6">
                <label for="validationCustom05" class="form-label">{% trans 'New password' %}</label>
                {{form.new_password}}
            </div>
            <div class="col-md-8 col-lg-6">
                <label for="validationCustom05" class="form-label">{% trans 'Repeat password' %}</label>
                {{form.repeat_password}}
            </div>
            <div class="col-12 pt-2">
                <button class="btn btn-primary" type="submit">{% trans 'Save' %}</button>
            </div>
        </form>
    </div>
</div>

<script src="{% static 'js/my-account.js' %}"></script>
{% include 'includes/footer.html' %}
{% endblock content %}