{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %} user-dashboard {% endblock title %}

{% block css %} {% static 'css/user-menu.css' %} {% endblock css %}
{% block css2 %} {% static 'css/my-account.css' %} {% endblock css2 %}

{% block content %}
{% include 'includes/header.html' %}

<div class="box-account container-fluid d-lg-flex">
    {% include 'includes/user-menu.html' %}

    <div class="box-account-section col-lg-8 col-lg-9">
        <!-- Success or error messages -->

        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message.message }}</li>  
            {% endfor %}
        </ul>
        {% endif %}

        <form method="post" class="form-profile row g-3 needs-validation"> {% csrf_token %}
            <div class="col-md-5">
                {{form.country.erros}}
                <label class="form-label">{% trans 'Country' %}</label>
                {{form.country}}
            </div>
            {% if form.country.initial == "Puerto Rico"%}
            <div class="div-select-state col-md-5" hidden>
                {{form.state.errors}}
                <label class="form-label">{% trans 'State' %}</label>
                {{form.state}}
            </div>
            <div class="col-md-5">
                <label id="label-city" class="form-label">{% trans 'Municipality' %}</label>
                {{form.city}}
            </div>
            {% else %}
            <div class="div-select-state col-md-5">
                {{form.state.errors}}
                <label class="form-label">{% trans 'State' %}</label>
                {{form.state}}
            </div>
            <div class="col-md-5">
                <label id="label-city" class="form-label">{% trans 'City' %}</label>
                {{form.city}}
            </div>
            {% endif %}
            <div class="col-md-8">
                <label class="form-label">{% trans 'Address' %}</label>
                {{form.address_1}}
                {{form.address_2}}
            </div>
            <div class="col-md-5">
                {{form.postal_code.errors}}
                <label class="form-label">{% trans 'Postal code' %}</label>
                {{form.postal_code}}
            </div>
            <div class="col-12">
                <button class="btn btn-primary" type="submit">{% trans 'Save' %}</button>
            </div>
        </form>
    </div>
</div>

<script src="{% static 'js/my-account.js' %}"></script>
{% include 'includes/footer.html' %}
{% endblock content %}